<a href="<%= user_path(user) %>">
  <%= gravatar_for user, size: 52 %>
</a>
<h1>
  <%= user.name %>
</h1>
<% if show_subheading == true %>
	<span>
	  <%= link_to "view my profile", user %>
	</span>
	<span>
	  <%= pluralize(user.microposts.count, "micropost") %>
	</span>
<% end %>