<% provide(:title, 'All microposts') %>
<h1>All microposts</h1>

<%= form_tag microposts_path, class: "form-search", method: :get, remote: true do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search for:", class: "input-large search-query" %>
  <%= submit_tag "Search", class: "btn" %>
<% end %>

<div id="micropost_listing">
	<%= render(partial: 'microposts') if @microposts.any? %>
</div>

<div id="empty_search">
	<%= render(partial: 'empty_search') unless @microposts.any? %>
</div>